*{
  margin:0;
  padding:0;
}

body{
  height: auto;
  padding: 10px;
  width:auto;
}

#menu{
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  white-space: nowrap;
}
h2{
  margin-right:10px;
}