*{
  margin:0;
  padding:0;
}

.options{
  border:none;
  padding: 7px 7px;
  background-color: white;
  

}


#menu{
  display:flex;
  flex-direction: row;
  
}

.options:hover{
  background-color: whitesmoke;
  cursor: pointer;
}
div#changeColor {
  height: 200px;
  width: 300px;
  outline: none;
  margin: 10px;
  border: none;
  border-radius: 2px;
}

button.current {
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}